header,
.header-logo,
.profile-wrapper {
    animation: header .5s forwards;
}

.logo,
.qa,
.js {
    perspective: 1000px;
}

.logo:hover > div,
.qa:hover > div,
.js:hover > div {
    transform: rotateY(180deg);
}

.wrapper-flip {
    transform-style: preserve-3d;
    transition: 0.5s;
}

.cov-flip {
    backface-visibility: hidden;
}

.cont-flip {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.java div div:nth-child(1),
.php div div:nth-child(1),
.net div div:nth-child(1) {
    animation: p-anim 0.5s forwards;

}

.php-anim {
    right: 0;
    top: 0;
}

.php .wrapper:hover .php-anim {
    animation: php 0.5s forwards;
}

.java-anim {
    bottom: 0;
}

.java .wrapper:hover .java-anim {
    animation: java 0.5s forwards;
}

.net-anim {
    bottom: 0;
    right: 0;
}

.net .wrapper:hover .net-anim {
    animation: net 0.5s forwards;
}

.events .wrapper:hover .events-anim,
.blog .wrapper:hover .blog-anim,
.contacts .wrapper:hover .contacts-anim {
    animation: swipe 0.5s forwards;
}

@keyframes php {
    0% {

    }
    100% {
        width: 0;
        height: 0;
        font-size: 0;
    }
}

@keyframes net {
    0% {

    }
    100% {
        width: 0;
        height: 0;
        font-size: 0;
    }
}

@keyframes java {
    0% {

    }
    100% {
        height: 0;
        font-size: 0;
    }
}

@keyframes swipe {
    0% {

    }
    100% {
        width: 0;
        margin-left: 100%;
    }
}

@keyframes header {
    0% {
        top: -50px;
    }
    100% {

    }
}

@keyframes p-anim {
    0% {
        font-size: 0;
    }
    100% {

    }
}
