.notifications {
    position: fixed;
    right: 10px;
    bottom: 15px;
    width: 200px;
    z-index: 6;
    opacity: 80%;
}

.notifications > div {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.notifications > div img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 10px;
}

.notifications h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.error {
    background-color: rgb(209, 0, 0);
}

.success {
    background-color: rgb(43, 213, 3);
}